
@{
    ViewBag.Title = "Designations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TaskManagementOsvin.Security;
@using TaskManagementOsvin.Models;
<div class="page-content">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="~/Dashboard/Welcome">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Designations</a>
                <i class="fa fa-circle"></i>
            </li>
            @*<li>
                    <span>Page Layouts</span>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Add / Update Designations
        @*<small>blank page layout</small>*@
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Designation Details</span>
                    </div>
                    <a class="btn btn-sm green table-group-action-submit pull-right" href="#" id="btnAddDesignation">
                        <i class="fa fa-plus"></i> Add Designation
                    </a>
                </div>
                <div class="portlet-body">
                    <div class="alert alert-success dvAlert @ViewBag.Class">
                        @*<button type="button" class="close" data-close="alert"></button>*@
                        <a class="close" onclick="$('.alert').hide()">×</a>
                        <span id="lblMessage"> @ViewBag.Message </span>
                    </div>
                    <div class="row" id="dvAddDesignation" style="display:none">
                        <div class="col-md-12">
                            @using (Html.BeginForm("AddDesignation", "Management", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmAddDesignation", @class = "form-horizontal" }))
                            {
                                <div class="form-body">
                                    @*<div class="text-danger">
                                            <label id="lblmsg"></label>
                                        </div>*@
                                    <input type="hidden" id="hdnDesignationId" />
                                    <input type="hidden" id="hdnDeptId" />
                                    <input type="hidden" id="hdnRole" value="@UserManager.user.roleType" />
                                    @if (UserManager.user.roleType == roleTypeModel.Admin || UserManager.user.roleType == roleTypeModel.HR)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-4">
                                                Department
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <select class="form-control" id="ddlDepartment">
                                                    <option value="0">Please select</option>
                                                    @foreach (var Department in ViewBag.listDepartments)
                                                    {
                                                        <option value="@Department.DepartmentId">@Department.DepartmentName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input type="hidden" id="hdnDeptId" />
                                        <label class="control-label col-md-4">
                                            Designation
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input tye="text" class="form-control" id="txtDesignation" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="button" class="btn green" id="btnAdd">Add</button>
                                            <button type="button" class="btn green" id="btnUpdate" style="display:none">Update</button>
                                            <button type="button" class="btn red" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row" id="dvDesignationDetails">
                        @Html.Action("_Designations", "Management")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--AddUpdate modal -->
<script type="text/javascript">
    jQuery(document).on('ready', function () {
        var table = $('#sample_2').DataTable();
        table.state.clear();
        table.destroy();
        TableDatatablesFixedHeader.init();
    });
    function DeleteDesignation(param) {
        $(".dvAlert").hide();
        $("#lblMessage").html("");
        var DesignationId = param;
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/Management/DeleteDesignationById?DesignationId=" + DesignationId,
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvDesignationDetails').html(response);
                TableDatatablesFixedHeader.init();
                $("#lblMessage").html("Designation deleted successfully");
                $(".dvAlert").show();
                //if (response.isSuccess == true) {
                //    if (response.response != "You are not allowed to delete this Designation.") {
                //        $("#row_" + DesignationId).remove();
                //    }
                //    $("#lblMessage").html(response.response);
                //    $(".dvAlert").show();
                //}
                //else {
                //    $("#lblMessage").html(response.response);
                //    $(".dvAlert").show();
                //}
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    }
    function ActivateDeactivateDesignation(DesignationId, IsActive) {
        $(".dvAlert").hide();
        $("#lblMessage").html("");
        $.ajax({
            type: "Get",
            contentType: "application/json; charset=utf-8",
            url: "/Management/ActivateDeactivateDesignation?DesignationId=" + DesignationId + "&IsActive=" + IsActive,
            success: function (response) {
                $('#dvDesignationDetails').html(response);
                TableDatatablesFixedHeader.init();
                //if (response.isSuccess == true) {
                //    if (IsActive == false) {
                //        $("#StatusActiveLink_" + DesignationId).remove();
                //        $("#StatusActive_" + DesignationId).append('<a id="StatusActiveLink_' + DesignationId + '" href="#" onclick="ActivateDeactivateDesignation(' + DesignationId + ', true)"><img alt="In Active" src="/assets/global/img/Guiimages/InActive.png" width="30px" height="30px"/></a>');
                //    }
                //    else {
                //        $("#StatusActiveLink_" + DesignationId).remove();
                //        $("#StatusActive_" + DesignationId).append('<a id="StatusActiveLink_' + DesignationId + '" href="#" onclick="ActivateDeactivateDesignation(' + DesignationId + ', false)"><img alt="Active" src="/assets/global/img/Guiimages/Active.png" width="30px" height="30px"/></a>');
                //    }
                //}
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    $("#btnAdd").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var DepartmentId = $("#ddlDepartment").val();
        var Designation = $("#txtDesignation").val();
        var Role = $("#hdnRole").val();
        var IsValid = true;
        if ((DepartmentId == undefined || DepartmentId <= 0) && (Role == "Admin" || Role == "HR")) {
            $('#ddlDepartment').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlDepartment').css('border-color', '');
        }
        if (Designation == null || Designation == "") {
            $('#txtDesignation').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#txtDesignation').css('border-color', '');
        }
        if (IsValid == false) {
            return false;
        }
        var model = {
            DepartmentId: DepartmentId,
            DesignationName: Designation
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Management/AddupdateDesignation",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvDesignationDetails').html(response);
                $("#lblMessage").html("Designation added successfully");
                $(".dvAlert").show();
                $('#ddlDepartment').val(0);
                $("#txtDesignation").val('');
                TableDatatablesFixedHeader.init();
                //if (response.isSuccess == true) {
                //    $("#lblMessage").html("Designation added successfully");
                //    $(".dvAlert").show();
                //    $("#txtDesignation").val("");
                //    $("#ddlDepartment").val(0);
                //    setTimeout(function () {
                //        window.location.href = "/Management/Designations";
                //    }, 1700);
                //}
                //else {
                //    $("#lblMessage").html(response.response);
                //    $(".dvAlert").show();
                //}
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    function EditDesignation(DesignationId, DepartmentId, DesignationName) {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        $("#dvAddDesignation").show();
        $('#ddlDepartment').css('border-color', '');
        $('#txtDesignation').css('border-color', '');
        $("#hdnDesignationId").val(DesignationId);
        $("#hdnDeptId").val(DepartmentId);
        $("#ddlDepartment").val(DepartmentId);
        $("#txtDesignation").val(DesignationName);
        $("#btnAdd").hide();
        $("#btnUpdate").show();
    }
    $("#btnUpdate").click(function () {
        $("#lblMessage").html("");
        $(".dvAlert").hide();
        var DepartmentId = $("#ddlDepartment").val();
        var DesignationName = $("#txtDesignation").val()
        var Role = $("#hdnRole").val();
        var IsValid = true;
        if ((DepartmentId == undefined || DepartmentId <= 0) && (Role == "Admin" || Role == "HR")) {
            $('#ddlDepartment').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#ddlDepartment').css('border-color', '');
        }
        if (DesignationName == null || DesignationName == "") {
            $('#txtDesignation').css('border-color', 'red');
            IsValid = false;
        }
        else {
            $('#txtDesignation').css('border-color', '');
        }
        if (IsValid == false) {
            return false;
        }
        var model = {
            DesignationId: $("#hdnDesignationId").val(),
            DepartmentId: DepartmentId,
            DesignationName: DesignationName
        }
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Management/AddupdateDesignation",
            data: JSON.stringify(model),
            beforeSend: function () {
                $("#lblMessage").html("Please wait...");
                $(".dvAlert").show();
            },
            success: function (response) {
                $('#dvDesignationDetails').html(response);
                TableDatatablesFixedHeader.init();
                $("#lblMessage").html("Designation updated successfully");
                $(".dvAlert").show();
                $("#btnUpdate").hide();
                $("#btnAdd").show();
                $("#txtDesignation").val("");
                $("#ddlDepartment").val(0);
                //if (response.isSuccess == true) {
                //    $("#lblMessage").html("Designation Updated successully");
                //    $(".dvAlert").show();
                //    $("#txtDesignation").val("");
                //    $("#ddlDepartment").val(0);
                //    $("#btnUpdate").hide();
                //    $("#btnAdd").show();
                //    setTimeout(function () {
                //        window.location.href = "/Management/Designations";
                //    }, 1700);
                //}
                //else {
                //    $("#lblMessage").html(response.response);
                //    $(".dvAlert").show();
                //}
            },
            error: function (error) {
                $("#lblMessage").html("Something went wrong, please try again");
                $(".dvAlert").show();
                console.log(error);
            }
        });
    });
    $("#btnAddDesignation").click(function () {
        $("#dvAddDesignation").show();
        $("#btnAdd").show();
        $("#btnUpdate").hide();
        $('#ddlDepartment').val(0);
        $("#txtDesignation").val('');
        $('#ddlDepartment').css('border-color', '');
        $('#txtDesignation').css('border-color', '');
    });
    $("#btnCancel").click(function () {
        $("#dvAddDesignation").hide();
        $('#ddlDepartment').val(0);
        $("#txtDesignation").val('');
        $('#ddlDepartment').css('border-color', '');
        $('#txtDesignation').css('border-color', '');
    });
</script>
