
@model List<TaskManagementOsvin.Models.EmployeeDailyReportModel>
@if (Model != null && Model.Count > 0)
{
    <table class="table table-striped table-bordered table-hover table-header-fixed">
        <thead>
            <tr class="">
                <th class="text-center"> Project Name </th>
                <th class="text-center"> SubTask Category </th>
                <th class="text-center"> Date </th>
                <th class="text-center"> Description </th>
                <th class="text-center"> Working Hours </th>
                <th class="text-center"> Edit </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr id="row_@report.DailyReportId">
                    <td class="text-center"> @report.ProjectTitle </td>
                    <td class="text-center"> @report.CategoryName </td>
                    <td class="text-center">@report.ReportDate</td>
                    <td class="text-center">@report.Description</td>
                    <td class="text-center">@report.WorkingHours</td>
                    <td class="text-center"><a title="Edit" class="btn green" href="javascript:" onclick="EditStatusReport(@Json.Encode(report))"><i class="fa fa-edit"></i></a> </td>
                </tr>
            }
        </tbody>
    </table>
}
