@using Providers.Helper;
@model List<ProjectAssignToUserTotalWorkingHoursDomainModel>
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Employee Worked on Project</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-header-fixed" id="tbl_User">
                        <thead>
                            <tr class="">
                                <th class="text-center"> Employee Name </th>
                                <th class="text-center"> Department </th>
                                <th class="text-center"> Designation </th>
                                <th class="text-center"> Task Category </th>
                                <th class="text-center"> Working Hours </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in @Model)
                            {
                                <tr>
                                    <td class="text-center"> @obj.EmployeeName </td>
                                    <td class="text-center"> @obj.DepartmentName </td>
                                    <td class="text-center"> @obj.DesignationName </td>
                                    <td class="text-center"> @obj.CategoryName </td>
                                    <td class="text-center"> @obj.EmployeeWorkingHours </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-center oddColumn">Total Working Hours :</td>
                                <td class="text-center"> @Model[0].TotalWorkingHours </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

