

@using TaskManagementOsvin.Security;
@using TaskManagementOsvin.Models;
@model List<ProjectReportCategoryDomainModel>

<table class="table table-striped table-bordered table-hover table-header-fixed" id="tbl_ProjectReportCategory">
    <thead>
        <tr class="">
            <th class="text-center"> Task Category Name </th>
            <th class="text-center"> Department </th>
            <th class="text-center"> Status </th>
            <th class="text-center"> Edit </th>
            <th class="text-center"> Delete </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var Category in @Model)
            {
                <tr id="row_@Category.CategoryId">
                    <td class="text-center"> @Category.CategoryName</td>
                    <td class="text-center"> @Category.DepartmentName</td>
                    @if (Category.IsActive)
                    {
                        <td class="text-center" id="StatusActive_@Category.CategoryId"><a title="Active" id="StatusActiveLink_@Category.CategoryId" href="#" onclick="ActivateDeactivateProjectReportCategory(@Category.CategoryId, false)"><img alt='Active' src='~/assets/global/img/Guiimages/Active.png' width='30px' height='30px' /></a></td>
                    }
                    else
                    {
                        <td class="text-center" id="StatusActive_@Category.CategoryId"><a title="InActive" id="StatusActiveLink_@Category.CategoryId" href="#" onclick="ActivateDeactivateProjectReportCategory(@Category.CategoryId, true)"><img alt='In Active Slip' src='~/assets/global/img/Guiimages/InActive.png' width='30px' height='30px' /></a></td>
                    }
                    <td class="text-center"><a class="btn green-dark" href="#" onclick="EditProjectReportCategory(@Json.Encode(Category))"><i class="fa fa-edit"></i></a> </td>
                    <td class="text-center"><a class="btn red " href="#" onclick="DeleteProjectReportCategory(@Category.CategoryId)"><i class="fa fa-trash"></i></a> </td>
                </tr>
            }
        }
    </tbody>
</table>
