
@model List<AddendumDomainModel>
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-layers font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Project Addendums Details</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-header-fixed" id="tbl_User">
                        <thead>
                            <tr class="">
                                <th class="text-center"> Estimation Hours </th>
                                <th class="text-center"> Assign Hours </th>
                                <th class="text-center"> Description </th>
                                <th class="text-center"> Document </th>
                                <th class="text-center"> Developer Coding Hours </th>
                                <th class="text-center"> WebService Hours </th>
                                <th class="text-center"> Design Hours </th>
                                <th class="text-center"> Hourly Rate </th>
                                <th class="text-center"> IsApproved </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var addendum in @Model)
                            {
                            <tr>
                                <td class="text-center"> @addendum.EstimateHours </td>
                                <td class="text-center"> @addendum.AssignHours </td>
                                <td class="text-center"> @addendum.Description </td>
                                <td class="text-center"> @addendum.UploadDocument </td>
                                <td class="text-center"> @addendum.DeveloperCodingHours </td>
                                <td class="text-center"> @addendum.WebServiceHours </td>
                                <td class="text-center"> @addendum.DesignHours</td>
                                <td class="text-center"> @addendum.HourlyRate </td>
                                <td class="text-center"> @addendum.IsApprove</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

