@using TaskManagementOsvin.Models;
@{
    ViewBag.Title = "Add Update Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var clients = ViewBag.Clients as List<ClientModel>;
    var projectType = ViewBag.ProjectType as List<ProjectTypeModel>;
    var employees = ViewBag.Employees as List<EmployeesModel>;
}
@model TaskManagementOsvin.Models.AddUpdateProjectModel
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Blank Page</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Page Layouts</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here
                        </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Add Project
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(x=>x.ClientId)
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="single-append-text" class="control-label">Select Client</label>
                                    <div class="input-group select2-bootstrap-append">
                                        @Html.DropDownListFor(x => x.ClientId, new SelectList(clients, "ClientId", "FullName"), "----Select Client-----", new { @id= "single-append-text", @class = "form-control select2-allow-clear" })
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-select2-open="single-append-text">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                                   <label>Project Type</label>
                                   @Html.DropDownListFor(x => x.ProjectTypeId, new SelectList(projectType, "TypeId", "TypeName"), "Select Project Type", new
                                    {
                                    @class = "form-control"
                                    })
                               </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Title </label>
                                    @Html.TextBoxFor(x => x.ProjectTitle, new { @class = "form-control", @placeholder = "Project Title" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project URL</label>
                                    @Html.TextBoxFor(x => x.ProjectTitle, new { @class = "form-control", @placeholder = "Project URL" })
                                </div>
                            </div>
                        </div>

                        @*<div class="col-md-12">
                            <div class="col-md-6">
                                <label>Description Document</label> <br />
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-large">
                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename"> </span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new"> Select file </span>
                                            <span class="fileinput-exists"> Change </span>
                                            @Html.TextBoxFor(x => x.UploadDetailsDocumentFile, new { @type = "File" })
                                        </span>
                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Project Type</label>
                            </div>
                        </div>*@

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Proposed Start Date</label>
                                    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control datepicker", @placeholder = "Start Date" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estimate End Date</label>
                                    @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control datepicker", @placeholder = "End Date" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estimate Hours </label>
                                    @Html.EditorFor(x => x.EstimateHours, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estimate Hours" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                    <input type="text" name="name" value="" id="input" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script>
    $(document).ready(function () {
        var items = [];
        @foreach (var item in employees)
        {
            @:items.push({name:@item.EmployeeName,value:@item.UserId})
        }
        $("#input").tagsinput(items)
    })
</script>