
@{
    ViewBag.Title = "UpdateProjectStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TaskManagementOsvin.Models.UpdateProjectStatusModel
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="javascript:">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="javascript:">Update Project Status</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Update Project Status
    </h1>
    <!-- END PAGE TITLE-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="col-md-12">
                        <div class="alert @ViewBag.Class">
                            @ViewBag.Message
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-12">
                            @Html.HiddenFor(x => x.ProjectId)
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Status</label>
                                    @Html.DropDownListFor(x => x.status, new SelectList(ViewBag.ddlStatusList, "Value", "Text"), "---Select Status---", new { @class = "form-control" })
                                    <div class="text-danger">@Html.ValidationMessageFor(x => x.status)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project URL</label>
                                    @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
                                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ProjectUrl)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a href="@Url.Action("ProjectList")" class="btn btn-lg btn-default"><i class="fa fa-arrow-left"></i> Back</a>
                                    <input type="submit" name="name" value="Submit" class="btn btn-lg blue" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

